*{
	text-decoration: none;
	color:#000000;
	text-align: center;
}

#wrapper{
	min-width: 3000px;
	max-width: 100%;
}

body{
	margin: 0;
	padding:0;
	background-color:#F8FFE5;
	font-family: Georgia;
}

nav{
	width:100%;
	background-color:#7DDE92;
	overflow:auto;
}

.nav{
	list-style-type:none;
	font-size: 80px;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	padding-left: 0;
	color: #004E64;

}
.nav{
	display: inline-block;
	white-space: nowrap;
	

}

a{
	display: block;
	padding: 6px 30px 3px;
	border-right: 5px dotted #004E64;
	outline: 0;
	text-decoration: none;
	font-family: monospace; 
	font-size: 60px;
	color: black;
	text-align: center;
	
}

li a:link{
 display: block;
 color: black;
}

li a:visited{
 color: black;
 
}

li a:hover {
 background-color:#F8FFE5;
 color:black;
}

li a.active {
 background-color: #F8FFE5;
 color:#000080;
}

header{
	width:100%;
	background-color:#7DDE92;
	overflow:auto
	
}

article{
	
	text-align: center;
}

.list{
	font-size: 50px;
	font-weight: normal;
	text-align: left;
	
}	

p{
	font-size: 50px;
	font-family: Georgia;
	font-weight: normal;
}

h4{
	font-size: 70px;
	text-align: center;
	font-weight: bold;
}

h3{
	font-size: 75px;
	text-align: center;
	font-weight: bold;
	font-family: Georgia;
}


h2{
	font-size: 80px;
	font-weight: bold;
}

footer{
	width: 100%;
}

#navlist {
  position: relative;
}

#navlist li {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 0;
  
}

#navlist li, #navlist a {
  height: 205px;
  display: block;
  border:none;
}

#facebook{
	background: url('../images/icons2.png') no-repeat -350px 9px;
	width: 122px;
	height: 123px;
	transform:translate(1500%,300px);
}

#facebook a:hover{
	background: url('../images/icons2.png') no-repeat -350px -190px;
	width: 118px;
	height: 118px;
	transform:translate(0, 50px);
}
#insta{
	background: url('../images/icons2.png') no-repeat -20px 9px;
	width: 122px;
	height: 122px;
	transform:translate(1650%,300px);
}

#insta a:hover{
	background: url('../images/icons2.png') no-repeat 20px -196px;
	width: 119px;
	height: 118px;
	transform:translate(-50px, 50px);
}
#twitter{
	background: url('../images/icons2.png') no-repeat -159px 9px;
	width: 122px;
	height: 123px;
	transform:translate(1800%,310px);
}

#twitter a:hover{
	background: url('../images/icons2.png') no-repeat -159px -194px;
	width: 115px;
	height: 116px;
	transform:translate(0, 50px);

}


footer{
	width: 100%;
	margin-top: 300px;
	margin-bottom; 0;
}

.sources{
	background-color:#7DDE92;
	font-family: monospace;
	font-size: 50px;
}

.bottom{
	text-align: center;
	background-color: #2EBFA5;
	font-size:30px;
}